body{
    background:#444444 ;
    height: 100%;
}
.wrapper{
    width: 1280px;
    background: #b3b3ff;
    margin:  auto;

}
.header{
    font-size: 150%;
    text-align: center;
    color: #000066;
    margin-left: auto;
    margin-right: auto;
}
.content_file{
    background: whitesmoke;
    font-size: 20px;
}

.require_file{
    background: whitesmoke;
    font-size: 20px;
}



