<html>
  <head>
    <title>php-book</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1>PHP BOOK<h1>
      </div>
      <div class="content">
      <h2>Тут будут задания<h2>
        <?php
        $i = 2;
        foreach ($chapter_task as $capter => $tasks){
          echo "<br>Глава $i <br>";
          $i ++;
          
          foreach ($tasks as $key => $task){
              echo "<a href='?file=$capter/$task'><button>$task</button></a>";
          }
        }
        ?>
      </div>

        <div class="content_file">
          <h3>Текст файла <h3>
          <?php
            if (!empty($_GET['file'])){
              $file_content = $_GET['file'];
              $file_content = file_get_contents($file_content);
              echo "<pre>";
              echo htmlspecialchars($file_content);
              echo "</pre>";
            }
            ?>
        </div>

        <div class="require_file">
          <h3>Выполнение кода из файла<h3>
          <?php
          if (!empty($_GET['file'])){
            $file = $_GET['file'];
            require $file;
          }
          ?>
        </div
        
      <div class="footer"></div>
    </div>
  </body>
</html>